.catPage {
  &__form {
    padding: 40px;
    display: grid;
    grid-template-areas: 'header header buttons' 'general general location' 'about about about' 'health health clinic';
    grid-template-columns: 1fr 1fr auto;
    border: 1px solid var(--soft-gray);
    border-radius: 12px;
    column-gap: var(--between-input-sections);
    row-gap: 60px;
    margin-bottom: var(--section-spacing-m);

    h2 {
      position: inline-block;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }

  &__header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
  }

  &__buttonsSection {
    grid-area: buttons;
    display: flex;
    align-items: center;

    .button {
      padding: 0.5rem 1rem;
      border: 1px solid #444360;
      border-radius: 12px;
      font-weight: bold;
      background-color: transparent;

      &-cancel {
        color: #444360;
      }

      &-save {
        background-color: #444360;
        color: #fff;
      }

      &:first-child {
        margin-right: 1rem;
      }
    }
  }

  &__locationSection {
    grid-area: location;
  }

  &__healthRecordsSection {
    grid-area: health;
  }

  &__clinicSection {
    grid-area: clinic;
  }
}
