.button {
	padding: 0.5rem 1rem;
	border: 1px solid #444360;
	border-radius: 12px;
	font-weight: bold;
	background-color: transparent;
}

.override {
	background-color: green;
	color: white;
	border-radius: var(--border-radius-xl);

	&:hover {
		background-color: #29293b;
	}
}
