@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$font-family-primary: "Roboto", sans-serif;

$font-size-title-desktop: 1.5rem;
$font-size-subtitle-desktop: 1.2rem;
$font-size-paragraph-desktop: 1rem;
$font-size-small-paragraph-desktop: 0.8rem;

$font-size-title-mobile: 1.2rem;
$font-size-subtitle-mobile: 1rem;
$font-size-paragraph-mobile: 0.8rem;
$font-size-small-paragraph-mobile: 0.7rem;
