@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --roboto-font: 'Roboto', sans-serif;

  --gray: #7b7a92;
  --dark-gray: #444360;
}

body {
  font-family: var(--roboto-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--dark-gray);
}
