@use '@sass/fonts.scss' as *;
@use '@sass/colors.scss' as *;

p {
  font-size: $font-size-title-desktop;
}

.homePage{
.title{
  font-weight: 300;
  strong{
    font-weight: 700;
  }
}

  .sideImageText{
    padding-top: 2rem;
    height: 25rem;

    img{
    border-radius: 1.5rem;
    }
  }

  .buttonsWrapper{
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}