@use '@sass/fonts.scss' as *;
@use '@sass/colors.scss' as *;


.homePage{
.title{
  font-weight: 300;

  strong{
    font-weight: 700;
  }
}

  .homePageSideImageText{
    
    padding-top: 2rem;
    height: 20rem;

    @media (width < 768px){
      height: 35rem;
    }

    img{
    border-radius: 1.5rem;
    }

    .textContainer {
		display: flex;
		flex-direction: column;
    justify-content: center;
		padding: 1rem;
		gap: 1rem;
	  }


    .title {
		font-size: var(--font-size-xxl);
		line-height: 3rem;
	  }

    .description {
      font-size: var(--font-size-m);
      line-height: 2rem;
    }
  }

  .buttonsWrapper{
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}